type hal_lineage_oplus_als_aidl_service, hal_service_type, service_manager_type;

# OSENSE
type osense_service, system_server_service, service_manager_type;
